
.badge-dt-am {
    background-color: purple;
    color: white;
}

.badge-dt-em {
    background-color: blue;
    color: white;
}

.badge-dt-kn {
    background-color: yellow;
    color: black;
}

.badge-dt-th {
    background-color: red;
    color: white;
}