
.console-container {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1em;
    color: rgba(255, 255, 255);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.console-output {
    flex: 1;

    padding-bottom: 1em;
}

.console-input {
    position: sticky;
    bottom: 0;
}

.space-bottom {
    padding-bottom: 1em;
}

.waypoint-line {
    margin-bottom: 4px;
}

.waypoint-line .waypoint-position {
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0, 0.4);
    padding: 4px;
    border-radius: 2px;
}

.waypoint-line .waypoint-position:hover {
    text-decoration: underline;
}

.waypoint-line .waypoint-name {
    cursor: pointer;
}

.copied-check {
    background-color: lawngreen;
    color: black;
    border-radius: 2px;
    padding: 4px;
}

.copy-script {
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0, 0.4);
    padding: 4px;
    border-radius: 2px;
}

.copy-script:hover {
    text-decoration: underline;
}

.lua
{
    border-radius: 2px;
    padding: 4px;
    background-color: rgba(0,0,0, 0.4);
    overflow-x: scroll;
    max-width: calc(100vw - 250px);
}