@page "/"
@page "/weapon-damage"
@using DUCalculator.Web.Domain
@inject IJSRuntime JS

<PageTitle>Weapon Damage</PageTitle>

@functions {

    void ScrollToEnd()
    {
        
    }
}

@code {
    private string _commandText = "";
    private string _output = "";

    private void SendCommand()
    {
        AppState.Program.ProcessCommand(_commandText);
        _output += _commandText + Environment.NewLine;
        _output += AppState.Context.Console.Flush();
        _commandText = string.Empty;

        JS.InvokeVoidAsync("scrollToBottom");

        AppState.NotifyUpdated();
    }

    private void Clear()
    {
        _output = "";
        
        JS.InvokeVoidAsync("scrollToTop");

        AppState.NotifyUpdated();
    }

    private void ShowHelp()
    {
        AppState.Program.ProcessCommand("help");
        _output = AppState.Program.Context.Console.Flush();
        
        JS.InvokeVoidAsync("scrollToBottom");

        AppState.NotifyUpdated();
    }

}

<div class="console-container">
    <div class="console-output">
        <div class="row">
            <div class="col">
                <pre>@_output</pre>
            </div>
            <div class="col-sm-4">
                <ContextEditor/>
            </div>
        </div>
    </div>
    <div class="console-input">
        <form @onsubmit="SendCommand">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" placeholder="Command" @bind="_commandText" class="form-control"/>
                    </div>
                    <div class="col-md-8">
                        <button type="submit" @onclick="SendCommand" class="btn btn-primary">Send</button>
                        <button type="button" @onclick="Clear" class="btn btn-secondary">Clear</button>
                        <button type="button" @onclick="ShowHelp" class="btn btn-link">Help</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
function scrollToBottom() {
    document.documentElement.scrollTop = document.documentElement.scrollHeight;
}

function scrollToTop() {
    document.documentElement.scrollTop = 0;
}
</script>